# Environment variables
node_modules
.env
package-lock.json

## Editor directories and files 
.idea
.vscode
.DS_Store

## Logs
.log

## Databases
.dynamodb
.dynamodb/local

## Testing, CI CyPress, and Coverage
cypress/screenshots
cypress/videos
.nyc_output
.coverage